@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/bg.png);
    margin: 0;
    font-family: "Bowlby One", sans-serif;
}
.loader {
    display: flex;
    justify-content: space-around;
    width: 500px; /* Adjust width as needed */
    height: 200px;
}
.cat {
    width: 200px;
    height: 200px;
    background: url('../img/base.png') no-repeat center/contain;
    animation: jump 1s infinite, changeCat 6s infinite;
}

.cat1 {
    width: 200px;
    height: 200px;
    background: url('../img/base.png') no-repeat center/contain;
    animation: jump 1s infinite, changeCat1 6s infinite;
}

.cat2 {
    width: 200px;
    height: 200px;
    background: url('../img/base.png') no-repeat center/contain;
    animation: jump 1s infinite, changeCat2 6s infinite;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
@keyframes changeCat {
    0% { background-image: url('../img/base.png'); }
    33% { background-image: url('../img/cat1.png'); }
    66% { background-image: url('../img/cat2.png'); }
    100% { background-image: url('../img/cat3.png'); }
}
@keyframes changeCat2 {
    0% { background-image: url('../img/base.png'); }
    33% { background-image: url('../img/cat4.png'); }
    66% { background-image: url('../img/cat5.png'); }
    100% { background-image: url('../img/cat6.png'); }
}
@keyframes changeCat1 {
    0% { background-image: url('../img/base.png'); }
    33% { background-image: url('../img/cat7.png'); }
    66% { background-image: url('../img/cat8.png'); }
    100% { background-image: url('../img/cat9.png'); }
}
.loading-text {
    margin-top: 20px;
    font-size: 30px;
    color: #0077b6;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0%, 100% { opacity: 1; transform: translateY(0); }
    50% { opacity: 0.7; transform: translateY(-10px); }
}